@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1c17;
    overflow: hidden;
}

#root {
    height: 100vh;
    width: 100%;
}

.editor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100% !important;
}

.editor {
    flex: 1;
    padding: 2px;
    height: 100% !important;
}

.editor .title {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 8px 4px;
}

.section {
    height: 50vh;
    overflow: hidden;
}

iframe {
    background-color: #fff;
}

.tabs {
    height: 100%;
    width: 100%;
}

.tab-list {  
    border-bottom: 1px solid #999;
    padding-left: 0;
    height: 44px;
}
  
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    cursor: pointer;
}
  
.tab-list-active {
    background-color: #0069ff;
    border: solid #999;
    border-width: 1px 1px 0 1px;
}

.tab-content {
    width: 100%;
    height: calc(100% - 44px);
}

.CodeMirror-wrap {
    height: 100% !important;
}

.about-section {
    padding: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

}

.about-section ul {
    margin-left: 15px;
}

a {
    margin-top: 10px;
    color: #0069ff;
}